:root {
  font-size: 62.5%;
  --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
  --fs-large: clamp(2.4rem, 10vw, 3.2rem);
  --fs-normal: clamp(0.6rem, 5vw, 1.6rem);
  --fs-small: 0.5rem;
  --fs-icon: clamp(40px, 2rem, 15rem);
  --fs-sm-icon: clamp(10px, 0.5rem, 20px);
  --body-bg-color: rgb(243, 243, 243);
  --header-color: white;
  --container-color: white;
  --border-color: lightgray;
  --font-color: #121212;
  color: var(--font-color);
}

.dark-theme {
  --body-bg-color: #121212;
  --header-color: #222;
  --container-color: #222;
  --border-color: #474747;
  --font-color: rgb(224, 224, 224);
  color: var(--font-color);
}

/* @media screen and (prefers-color-scheme: dark) {

} */

html {
  scroll-behavior: smooth;
  /* scrollbar-gutter: stable; */
}

body {

  background-color: var(--body-bg-color);
  font-family: system-ui;
  /* transition: 250ms; */
  font-size: var(--fs-normal);
}

/* 1080p */
@media screen and (width >=1920px) {
  :root {
    font-size: 90%;
    --fs-icon: clamp(40px, 5rem, 15rem);
  }
}

/* 1440p */
@media screen and (width >=2560px) {
  :root {
    font-size: 125%;
    --fs-icon: clamp(40px, 5rem, 15rem);
  }
}

/* 4K 2160p */
@media screen and (width >=3840px) {
  :root {
    font-size: 200%;
    --fs-icon: clamp(40px, 5rem, 15rem);
  }
}

* {
  box-sizing: border-box;
  /* outline: 1px solid #999; */
  /* outline: 1px solid #f00 !important; */
}

img {
  max-width: 100%;
  max-height: 100%;

}

.icon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  padding: 0;
  border: none;
  line-height: 1;
  background-color: hsla(0, 0%, 0%, 0);
}

.icon-free {
  font-family: "Font Awesome 6 Free";
}

.icon-brands {
  font-family: "Font Awesome 6 Brands";
}

.open_menu_icon_content::after {
  font-family: "Font Awesome 6 Free";
  font-size: var(--fs-icon);
  content: "\f0c9";
  color: red;
  cursor: pointer;
  width: min(2rem, var(--fs-icon));
  max-height: var(--fs-icon);
  overflow: hidden;
}

.close_menu_icon_content::before {
  font-size: var(--fs-icon);
  content: "\f00d";
  color: red;
  cursor: pointer;
  width: min(2rem, var(--fs-icon));
  max-height: var(--fs-icon);
  overflow: hidden;
}

.icon:hover::before {
  color: rgb(128, 128, 128);
}

@keyframes dark_mode_on {
  from {
    background-color: white;
  }
  to {
    background-color: #444
  }
}

@keyframes dark_mode_off {
  from {
    background-color: #444;
  }
  to {
    background-color: white
  }
}

#scroll_top {
  display: none;
  position: fixed;
  left: 0;
  z-index: 1;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  width: 5vw;
  height: 100%;
  background-image: url('../img/arrow.png');
  background-position-x: center;
  background-position-y: 90%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 80%;
  border-right: 1px solid red;
}

#scroll_top:hover {
  background-color: rgb(82, 82, 82);
}

#scroll_top_mini {
  position: fixed;
  left: auto;
  right: 10%;
  bottom: 10%;
  z-index: 1;
  border: none;
  outline: none;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  background-image: url('../img/arrow.png');
  background-position-x: center;
  background-position-y: 90%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 80%;
  border-radius: 1rem;
  /* box-shadow: 0 0 5px 5px #ff0000; */
}